@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 345 80% 98%;
    --foreground: 338 24% 13%;
    --card: 0 0% 100%;
    --card-foreground: 338 24% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 338 24% 13%;
    --primary: 340 72% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 82% 95%;
    --secondary-foreground: 338 24% 13%;
    --muted: 340 82% 95%;
    --muted-foreground: 340 32% 50%;
    --accent: 340 82% 95%;
    --accent-foreground: 338 24% 13%;
    --destructive: 350 75% 48%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 72% 89%;
    --input: 340 72% 89%;
    --ring: 340 72% 56%;
    --radius: 1rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
